

/*body * {
  outline: aqua 1px dotted;
}*/

body {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.sleeve {
  display: flex;
  flex-direction: column;
  height: 765px;
  width: 765px;
  background: #F3ECD3;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  padding: 250px 20px 20px 20px;
}

.record {
  height: 100%;
  width: 100%;
  background: #222;
  border-radius: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.label {
  height: 30%;
  width: 30%;
  background: #E92F41;
  border-radius: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.hole {
  height:10%;
  width: 10%;
  background: #F3E3DD;
  border-radius: 50%;
  align-self: center;
}

.text {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.title-left,
.title-right
{
  flex-grow: 1;
  align-self: end;
}

.date {
  font-size: 14px;
  align-self: start;
}
