body {
  color: #fff;
  font-weight: bolder;
  font-family: sans-serif;
}

main {
  width: 800px;
  height: 1000px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 80px;
}

.tris{
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.left-tri {
  width: 0px;
  height: 0px;
	border-left: 200px solid transparent;
	border-bottom: 200px solid transparent;
	border-right: 200px solid #404040;
  border-top: 200px solid #404040;
}

.right-tri {
  width: 0px;
  height: 0px;
	border-right: 200px solid transparent;
	border-bottom: 200px solid transparent;
	border-left: 200px solid #999999;
  border-top: 200px solid #999999;
}

.circles {
  width: 200px;
  height: 200px;
  display: flex;
  margin-top: -100px;
}

.circle {
  border-radius: 50%;
}

.big-circle {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-circle {
  width: 25px;
  height: 50px;
  margin-top: 80px;
}

.big-left-circle {
  background-color: #404040;
  border-radius: 100px 0 0 100px;
}

.big-right-circle {
  background-color: #999999;
  border-radius:  0 100px 100px 0;
}

.small-left-circle {
  background-color: #1a1a1a;
  border-radius: 120px 0 0 120px;
  align-self: flex-end;
}

.small-right-circle {
  background-color: #404040;
  border-radius:  0 120px 120px 0;
  align-self: flex-start;
}
