div.circle-one, div.circle-two {
  border-radius: 50%;
  position: fixed;
  height: 300px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0);
  border: 150px solid;
}
div.circle-one {
  top: 100px;
  border-color: rgba(255, 0, 150, 1);
}
div.circle-two {
  border-color: rgba(0, 180, 180, 0.53);
}
div.circle-two.circle-under {
  border-color: rgba(0, 180, 180, 1);
}
