body {
  background-color: #342e2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'helvetica', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 5em;
  align-self: center;
}

h2 {
  font-weight: 100;
  font-size: 2em;
  margin-top: -10px;
  margin-left: 240px;
}

main {
  width: 932px;
  height: 1304px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.dots {
  width: 929px;
  height: 1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: #9bcbf3;
  margin: 0 5px;
  border-radius: 50%;
}

.drop {
  width: 22px;
  height: 22px;
  transform: rotate(45deg);
  background-color: #fff;
  margin-left: -2px;
  border-radius: 0 25px 25px 25px;
  z-index: 1000;
}
