/*Created by Elana Kopelevich */

body {
  background-color: #d6bda7;
  display: flex;
  align-content: center;
}

main {
  background-color: #bb2e1c;
  margin: 60px;
  display: flex;
  align-items: center;
  width: 800px;
  height: 2000px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  margin-bottom: 80px;
}

.btn-container {
  width: 380px;
  height: 1300px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.title {
  color: #fbdecc;
  font-size: 5.4em;
  font-weight: 600;
  font-family: 'futura';
}

.btn {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 50%;
  margin: 10px;
}

.num {
  color: #bb2e1c;
  font-size: 3em;
  font-weight: 600;
}
