*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

.superman{
  background-color: blue;
  width: 500px;
  height: 700px;
  float: left;
  margin-right: 10px;
  position: relative;
}

.pulp{
  background-color: red;
  width: 500px;
  height: 700px;
  float: left;
  position: relative;
}

.white{
  width: 15px;
  height: 350px;
  position: absolute;
  background-color: white;
  top: 100px;
  left: 225px;
}

.red{
  width: 15px;
  height: 400px;
  position: absolute;
  background: linear-gradient( 0deg,rgb(214, 1, 21) , rgba(214, 1, 21, 0.3));
  top: 75px;
  left: 225px;
  transform: rotate(225deg);
}

.text{
  color: yellow;
  position: absolute;
  width: 300px;
  left: 100px;
  bottom: 25px;
  text-align: center;
}

h1{
  font-weight: 200;
  letter-spacing: 10px;
  font-size: 1.5em;
}

h3{
  font-weight: 100;
  font-size: .75em;
}

p{
  font-weight: 100;
  font-size: .5em;
}
