* {
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 20px;
  background-color: yellow;
}

div {
  background-color: red;
}

ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: reverse;
  min-height: 100vh;
  padding: 0;
  width: 200px;
  justify-content: space-around;
}

li {
  flex-shrink: 0;
  list-style: none;
  background-color: black;
  border-radius: 50%;
  color: red;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li:not(:first-child) {
  font-size: 200%;
}
